<!DOCTYPE html>
<html>
<body>
<h1>Change your password</h1>

<p>The form below can be used to change your password.</p>
<form method=POST action=/password>
  <table border=0>
    <tr><td>Current password <td>: <td><input name=password value=>
    <tr><td>New password <td>: <td><input name=new value=>
	<tr><td>Repeat new password <td>: <td><input name=repeat value=>
	    <tr><td> <td> <td><input type=submit value="Change password">
		</table>
</form>

<h2>{{result}}</h2>


<h1>Source code</h1>

Where is the problem that makes it possible to change the password without knowing the original?

<pre>
@app.route('/password', methods=['GET','POST'])
def password():
    if request.method == 'GET':
        return render_template('password.html')

    password = request.form.get('password')
    new = request.form.get('new')
    repeat = request.form.get('repeat')

    if ( password is not None and pwhash != argon2.argon2_hash(password=str(password), salt="XQEXFggkPcw9BtuGkn4ELm4a7r7MUKTjBW2fjaVv6ou8mJ9ZrfEQBYhiGqQ6LzRz", t=16, m=8, p=1, buflen=128, argon_type=argon2.Argon2Type.Argon2_i) ):
         return render_template('password.html', result = 'Password is not correct')
    if len(new) < 16:
        return render_template('password.html', result = 'Passwords length is too short (min 16 characters)')
    if ( new != repeat ):
        return render_template('password.html', result = 'New passwords are not the same')
    
    return render_template('password.html', result = 'Password changed succesfully!')
</pre>


</body>
</html>
