<h1>Weak password database</h1>

<p>With the search function on this page, you can search for weak passwords in on of the weak password lists from Daniel Miesler (<a href="https://github.com/danielmiessler">GitHub</a>). Maybe your favourite password is somewhere in the list. </p>

<form method=get action="/weakpasswordsearch">
  Password search <input name="query" value="">
  <button type="submit">Search</button>
</form>

<h3>Search result for: {{query}}</h3>

<ol>
{% for password in searchresult %}
<li>{{password}}<br>
{% endfor %}
</ol>

<h2>Problem</h2>
<p>The search function is not very safe. Find the problem in the source code that lies at the root of this problem and propose the correct mitigation how to fix it.</p>

<h2>Source Code</h2>
<pre>
@app.route('/weakpassword')
def weakpassword():
    return render_template('weakpassword.html',searchresult = [], query = '')

@app.route('/weakpasswordsearch')
def weakpasswordsearch():
    conn = sqlite3.connect('passwords.db')
    result = []
    query = str(request.args.get('query'))
    
    if len(query) > 2:
        try:            
            cursor = conn.cursor()
            cursor.execute("SELECT * FROM passwords WHERE ((password LIKE '%%%s' ) OR (password LIKE '%s%%')) LIMIT 20" % (query,query))            
            rows = cursor.fetchall()       
            for row in rows:
                print(row,file=sys.stderr)
                result.append(row[0])        
        except:
            result = []
    
    conn.close()
    return render_template('weakpassword.html',searchresult = result, query=query)  
</pre>
